:root {
  /* 최상위 선택자 */
  /* 레이아웃 */
  --base-unit: 32px;
  --base-font: 16px;

  /* 색상 스타일 */
  --gradient: linear-gradient(to bottom, #1dcf6f, #3b82f6);
  --gradient-hero: linear-gradient(to bottom, #f7f9fa, #6ee7a8);
  --gradient-button: linear-gradient(to right, #1dcf6f, #3b82f6);
  --gradient-logo: linear-gradient(135deg, #1dcf6f, #3b82f6);
  --primary-main: #1dcf6f;
  --primary-light: #6ee7a8;
  --primary-hover: #17b960;
  --text-main: #111827;
  --text-sub: #4b5563;
  --text-inactive: #9ca3af;
  --background: #f7f9fa;
  --dark-accent1: #0f172a;
  --dark-accent2: #1f2937;
  --white: #fff;
  --black: #000;

  /* 텍스트 사이즈 스타일 */
  --h2: calc(var(--base-font) * 6);
  --h3: calc(var(--base-font) * 5);
  --h4: calc(var(--base-font) * 4);
  --h5: calc(var(--base-font) * 3);
  --h6: calc(var(--base-font) * 2);
  --body-l: calc(var(--base-font) * 1.5);
  --body-m: var(--base-font);
  --caption: calc(var(--base-font) * 0.875);
}

body {
  font-family: "Pretendard", sans-serif;
}

/* 타이포그래피 */
.text-heading2 {
  /* 대형 타이틀 */
  font-size: var(--h2);
  line-height: 1.1;
  letter-spacing: -0.04em;
  font-weight: 700;
}

.text-heading3 {
  /* 압축 타이틀 */
  font-size: var(--h3);
  line-height: 1.1;
  letter-spacing: -0.03em;
  font-weight: 700;
}

.text-heading4 {
  /* 섹션 타이틀 */
  font-size: var(--h4);
  line-height: 1.2;
  letter-spacing: -0.025em;
  font-weight: 700;
}

.text-heading5 {
  /* 중간 타이틀 */
  font-size: var(--h5);
  line-height: 1.2;
  letter-spacing: -0.02em;
  font-weight: 700;
}

.text-heading6 {
  /* 카드 타이틀 */
  font-size: var(--h6);
  line-height: 1.3;
  letter-spacing: -0.015em;
  font-weight: 700;
}

.text-body-l {
  /* 강조 본문 */
  font-size: var(--body-l);
  line-height: 1.5;
  letter-spacing: -0.01em;
  font-weight: 500;
}

.text-body-m {
  /* 기본 본문 */
  font-size: var(--body-m);
  line-height: 1.6;
}

.text-caption {
  /* 보조 텍스트 */
  font-size: var(--caption);
  line-height: 1.4;
  letter-spacing: 0.01em;
}

/* 레이아웃 */
.container {
  width: 1200px;
  margin: 0 auto;
}

.inner-pd {
  padding: calc(var(--base-unit) * 3);
}

hr {
  border: none;
  height: 1px;
  background: var(--text-inactive);
}

.hidden {
  position: absolute;
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* 버튼 */

/* 헤더 - 홍길동 */
/* 푸터 - 변사또 */