/* 헤더 - 김찬희 */

/* 메인 : 히어로 - 김찬희 */

/* 메인 : 문제 제기 - 김정우 */
.problem {
  padding: 96px 0;
  gap: 30px;
  background-color: var(--background);
}
.problem > .container {
  gap: 120px;
}
.title {
  width: 700px;
  height: 100px;
  gap: 16px;
  padding: 30px 8px;
}
.question {
  width: 1180px;
  padding: 0 50px;
}
.question-container {
  width: 200px;
  height: 300px;
  gap: 20px;
  padding: 10px;
  text-align: center;
}
.question-list {
  gap: 20px;
  padding: 10px;
}
li > h3 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 메인 : 프로그램 소개 - 김정우 */

/* 메인 : 혜택 - 최정원 */

/* 메인 : 결과 - 최정원 */

/* 메인 : 수강생 후기 - 김윤수 */

/* 메인 : 프로세스 - 김윤수 */

/* 메인 : 회사소개 - 김소영 */

/* 메인 : 강사진 소개 - 김소영 */

/* 메인 : FAQ - 김소영 */

/* 메인 : CTA - 김소영 */

/* 푸터- 김소영 */
